@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

.additionalInformation {
    width: 100vw;
    height: 90px;
    background-color: #222222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.additionalInformation__wrapper {
    margin-left: 50px;
}

.additionalInformation__wrapper-contact {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #FF7417;
    margin-bottom: 5px;
    text-align: left;
}

.additionalInformation__wrapper-contact--color {
    color: #FFFFFF;
}

.additionalInformation__wrapper-contact--margin {
    margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
    .additionalInformation__wrapper {
        margin-left: 148px;
    }
}